<div class="grid justify-center mt-10">

    <div class="card card-compact sm:w-200 bg-base-100 shadow-2xl shadow-black">

        <div class="card-body">
            <h2 class="card-title justify-center font-bold uppercase">CRUD <span class="text-primary">CLIENTES</span></h2>
            <div class="grid">
                <label for="">Nombre:</label>
                <input class="input input-primary mb-2" type="text" placeholder="Ejemplo:Karen" [(ngModel)]="currentClient.name">
                <label for="">Identificación:</label>
                <input class="input input-primary " type="text" placeholder="Ejemplo:123457890" [(ngModel)]="currentClient.dni">
                <label for="">Celular:</label>
                <input class="input input-primary " type="numbera" placeholder="Ejemplo:0923457890" [(ngModel)]="currentClient.phone">
                <label for="">Correo:</label>
                <input class="input input-primary " type="text" placeholder="Ejemplo:karen@gmail.com" [(ngModel)]="currentClient.email">
                <div class="form-control">
                    <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked />
            <span class="label-text ml-4">Activo</span>
          </label>
                </div>

            </div>
            <div class="card-actions justify-end">
                <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
                <button class="btn btn-secondary btn-sm">Cancelar</button>
            </div>
        </div>
    </div>
</div>