<div class="grid justify-center mt-4 gap-2">
  <div class="card card-compact w-96 bg-base-100 shadow-2xl shadow-teal-50 ">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">CRUD DE <span class="text-violet-800">PRODUCTOS</span>
      </h2>
      <div class="grid ">
        <label for="">Nombre:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" placeholder="Ejemplo: CAMISETA DEPORTIVA" [(ngModel)]="currentProduct.nombre">
        <label for="">Descripcion:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" placeholder="Ejemplo: CAMISA DE CABALLERO COLOR AZUL MARINO " [(ngModel)]="currentProduct.descripcion">
        <label for="">Marca:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" placeholder="Ejemplo: ADIDAS" [(ngModel)]="currentProduct.marca">
        <label for="">Modelo:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" placeholder="Ejemplo: CASUAL,VERANO,URBANO"  [(ngModel)]="currentProduct.modelo">
        <label for="">Created:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="date" [(ngModel)]="currentProduct.created">
        <label for="">Updated:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="date" [(ngModel)]="currentProduct.updated">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked [(ngModel)]="currentProduct.enable"/>
            <span class="label-text ml-4">ACTIVO</span>
          </label>
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-outline btn-error btn-sm" (click)="save()">GUARDAR</button>
        <button class="btn btn-outline btn-primary btn-sm">CANCELAR</button>
      </div>
    </div>
  </div>

</div>
